.home-top-section {
  background-color: $nomad;
  height: 50vh;
}

.home-mid-section {
  background-color: $mantle;
  height: 50vh;
}

.home-bottom-section {
  background-color: $manatee;
  height: 50vh;
}
