.contact-us {
  margin: auto;
  .headers {
    // border: 1px solid red;
    padding: 2rem 0;
    text-align: center;
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}
