.header {
  background-color: $shark;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header-brand {
    text-decoration: none;
    color: $chalk;
    font-size: 2.4rem;
    cursor: pointer;
  }

  .header-items {
    padding: 1rem;

    .header-links {
      cursor: pointer;
      text-decoration: none;
      color: $chalk;
      font-size: 1rem;
      padding: 1.5rem;
    }
  }
}
